body {
    background-image: url(images/TheLastUnicornBackgroundImage.jpg);
}

h1 {
    color: blanchedalmond;
}

h5 {
    color: blanchedalmond;
}

h5 a {
    color: #f3ba64;
}

#box {
    background-color: rgba(81, 79, 117, 0.3);
}

#navitem {
    background-color: rgba(199, 145, 250, 0.5);
}

#footer {
    background-color: rgba(199, 145, 250, 0.5);
}