body {
    background-color: #CF78E7;
}

#box {
    background-color: #A150C6;
}

#letterboxdLink {
    color: cyan;
}

#navigation {
    background-color: #F4C7FF;
}

#navTitle {
    color: #000000;
}

#navItem {
    background-color: #F19BFC;
}

#articleItem {
    background-color: #CF78E7;
}

#footer {
    background-color: #F4C7FF;
}