body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, a:hover {
    color: black;
    text-decoration: none;
}


.header {
    margin:0.5% 0 0.5% 0;
}

.title {
    max-width: 100%;
    border-color: black;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sidePanel {
    margin-top: 0.25em;
    background-color: rgba(218, 191, 255, 0.85);
    max-width: 100%;
    height: fit-content;
    border-radius: 0.25em;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navBar a {
    padding: 0.4em 0;
    background-color: rgb(199, 145, 250);
    border-radius: 0.25em;
    width: calc(100% / 3);
}

.navBar p {
    text-align: center;
}

.navBar a:hover {
    background-color: rgb(173, 107, 235);
}

#mobileNavBar3 {
    margin-top: 0.4em;
}

.visits {
    display: none;
}

.panel {
    margin-top: 0.25em;
    background-color: rgba(218, 191, 255, 0.85);
    max-width: 100%;
    height: fit-content;
    border-radius: 0.25em;
    padding: 0.5em;
    text-align: center;
}

.latestPost {
    margin-top: 0.25em;
    background-color: rgb(199, 145, 250);
    border-radius: 0.25em;
    display: flex;
    height:fit-content;
}

.latestPost:hover {
    background-color: rgb(173, 107, 235);
}

.latestPost img {
    margin: 0.5em;
    width: 3.5em;
    border-radius: 0.5em;
}

.latestPost h4 {
    margin-top: 1em;
    margin-bottom: 0%;
    text-align: left;
}

.latestPost h5 {
    margin: 0%;
    text-align: left;
}

.latestPost p {
    margin-top: 2%;
    font-size: smaller;
}

#panel4 {
    display: flex;
}

.currentlyOn {
    width: 33.33%;
    width: calc(100% / 3);
}

.currentlyOn img {
    width: 55%;
    border-radius: 0.25em;
}

.currentlyOn img:hover {
    box-shadow: 
        0 0 40px 6px #C0F5FA;
}

.sidePanel p {
    margin: 0%;
    padding: 0.5em 0 0.25em 0;
    text-align: center;
}

.updates {
    overflow-y: scroll;
    height: 7em;
    width: 23em;
    margin: auto;
    border-style: inset;
}

.updates p {
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #514f75;
    padding: 0;
}

.stamps {
    margin: 0.25em;
}
.stamps img {
    width: 4em;
}

.guestBook {
    width: 90%;
    height: 20em;
    margin-left: 5%;
    border-radius: 0.5em;
}

.footer {
    margin-top: 0.25em;
    padding: 0.25em;
    background-color: rgba(218, 191, 255, 0.85);
    max-width: 100%;
    border-radius: 0.25em;
    text-align: center;
}

.footer a {
    color: dodgerblue;
}


@media (min-width: 900px) {
    body {
        background-image: url("images/Windows_XP_Bliss.jpg");
        background-size: cover;
    }

    .box {
        margin: 3% auto 0 auto;
        width: 95%;
        padding: 0.5em;
    }

    .body {
        display: flex;
    }

    .sidePanel {
        min-width: 10%;
        margin-right: 0.5em;
        padding: 0.5em 0;
        height: fit-content;     
    }

    .navBar {
        margin: 0;
        display: inline;
    }

    .navBar p {
        margin: 0.75em auto 0.75em auto;
        width: 70%;
        background-color: rgb(199, 145, 250);
        padding: 0.5em 0;
        border-radius: 0.25em;
    }

    .navBar p:hover {
        background-color: rgb(173, 107, 235);
    }

    #mobileNavBar3 {
        margin-top: 0%;
    }

    #navBar3 {
        margin-top: 2em;
    }

    .visits {
        display: initial;
    }

    .visits p {
        font-size: smaller;
    }

    .leftPanels {
        margin-right: 0.5em;
        width: 100%;
    }
    
    #panel1 {
        margin-bottom: 0.5em;
        padding: 3em 1.5em 1.5em 1.5em;
        height: 50%;
    }

    #panel2 {
        height: fit-content;
        padding: 2em 1em 1em 1em;
    }

    .latestPost {
        margin-top: 2em;
    }

    .rightPanels {
        margin-right: 0.5em;
    }

    #panel3 {
        margin-bottom: 0.5em;
        height: 40%;
    }

    #panel4 {
        height: fit-content;
    }

    .currentlyOn img {
        margin-top: 2em;
    }

    #side2 {
        margin-right: 0;
    }

    .updates {
        max-width: 80%;
    }

    .stamps img {
        width: 4em;
    }

    .footer {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding: 0.5em 0;
    }
}