body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.box {
    width: 100%;
    border-radius: 1rem;
    min-height: 500px;
    padding-top: 0.1%;
    margin: auto;
}

.header {
    margin:0.5% 0 0.5% 0;
}

.title {
    max-width: 100%;
    border-color: black;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sidePanel {
    margin-top: 0.25em;
    background-color: #dabfff;
    max-width: 100%;
    height: fit-content;
    border-radius: 0.25em;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.navItem {
    background-color: rgb(199, 145, 250);
    border-radius: 0.25em;
    width: 33.33%;
    width: calc(100% / 3);
}

.navItem:hover {
    background-color: rgb(173, 107, 235);
}

.panel {
    margin-top: 0.25em;
    background-color: #dabfff;
    max-width: 100%;
    height: fit-content;
    border-radius: 0.25em;
    padding: 0.5em;
    text-align: center;
}

.latestPost {
    margin-top: 0.25em;
    background-color: rgb(199, 145, 250);
    border-radius: 0.25em;
    display: flex;
    height:fit-content;
}

.latestPost:hover {
    background-color: rgb(173, 107, 235);
}

.latestPost img {
    margin: 0.5em;
    width: 3em;
    border-radius: 0.5em;
}

.latestPost h4 {
    margin-top: 15%;
    margin-bottom: 0%;
    text-align: left;
}

.latestPost p {
    margin-top: 2%;
}

.currentlyOn {
    width: 33.33%;
    width: calc(100% / 3);
}

.currentlyOn img {
    width: 55%;
}

.sidePanel p {
    margin: 0%;
    text-align: center;
}

.updates {
    overflow-y: scroll;
    height: 7em;
    width: 25em;
    margin: auto;
    border-style: inset;
}

.updates p {
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #514f75;
}



















@media (min-width: 850px) {
    .sidePanel {
        background-color: aqua;
    }
}